.button {
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  border: 0;
  background-color: white;
  cursor: pointer;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    background-color: #a7a7af;
  }
}